body {
  margin: 0;
  min-height: 100vh;
  background: black;
  overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

.image img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}



.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


h1 {
  font-size: 5em;
  color: white;
  text-align: center;
  font-family: "Cormorant", serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 0 15px rgba(255,255,255,0.5);
  animation: pulse 4s infinite ease-in-out;
}

/* Subtle pulse */
@keyframes pulse {
  0% { text-shadow: 0 0 10px rgba(255,255,255,0.3); }
  50% { text-shadow: 0 0 30px rgba(255,255,255,0.9); }
  100% { text-shadow: 0 0 10px rgba(255,255,255,0.3); }
}



.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
  padding-bottom: 20vh;
}


.text-container p {
  font-size: 1em;
  color: white;
  font-family: "Cormorant", serif;
  font-weight: 300; 
  width: 60%;
  padding: 2em;
  margin: 0;
  text-align: center;

  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(6px);

   transition:
    font-size 0.8s ease,
    transform 0.8s ease,
    opacity 0.8s ease,
    margin 0.8s ease,
    padding 0.8s ease;
}


/*  .text-container:hover p {
  opacity: 0.3;
  transform: scale(0.85);
}*/


.text-container p:hover {
  font-size: 1.5em;
  opacity: 1;
  transform: scale(1.05);
  margin: 4em 0;
  z-index: 2;
  padding: 2em;
  gap: 10em;
}